@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
header {
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2019/02/23/07/21/carpenter-4015109_1280.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#948772;
    height: 80px;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    box-shadow: rgba(0, 0, 0, 0.269) 0px 8px 24px;

}
nav ul {
    display: flex;
}
li {
   list-style: none; 
}
nav a {
    padding-right: 30px;
    color: white;
    font-size: .8em;
    text-decoration: none;
}
h4 {
    color: white;
    font-weight: 400;
    padding: 5px;
    margin-left: 30px;
    border: 1px solid ;
    
}
h4 span {
    text-transform: uppercase;
    font-weight: 900;
    color: #442f10;
}
.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 700px;
    background-color: rgba(255, 255, 255, 0.338);
    align-self: center;
    margin-top: 60px;
    backdrop-filter: blur(5px);
}
.hero-content p {
    font-size: 1.3em;
    color:white;
}
h1 {
    margin-bottom: 40px;
    font-size: 3em;
    font-weight: 900;
    background: -webkit-linear-gradient(90deg, #000000 0%, #442f10 60%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
button {
    border: none;
    margin-top: 40px;
    padding: 10px 15px;
    box-shadow: rgba(0, 0, 0, 0.532) 0px 8px 24px;
    color:#442f10;
    cursor: pointer;
}
button:hover {
    background-color: #948772;
    color: white;
    transition: ease-in-out .7s;
}
.promesses {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
}
.promesses img {
    width: 45%;
    align-self: center;

}
.promesses i {
    color: #948772;
    padding-right: 10px;
    font-size: 1.5em;
}
.prom-container div {
    display: flex;
    align-items: center;
    height: 50px;
    width: 600px;
    padding: 40px;
    margin: 40px 0;
    border: #94877242 2px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}
.realisations > h2 {
    padding-left: 60px;
}
.realisations-container {
    display: flex;  
    flex-wrap: wrap;
    justify-content:space-evenly;
    padding: 60px;
}
.real-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    margin-top: 40px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.real-content {
    padding: 30px;
}
.real-content p {
    padding-top: 10px;
}
.temoignages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
.tem-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
    height: 200px;
    padding: 20px 30px;
    margin: 40px 0;
    border: #94877242 2px solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
}
.tem-content p {
    padding: 10px 20px;
}
h3 {
    padding-top: 10px;
}
footer {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: #442f10;
    color: white;
    margin-top: 40px;
}
footer ul {
    display: flex;
}
footer a {
    padding-right: 10px;
    color: white;
}


